<h1>Welcome Page</h1>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
  <span v-if="seen">Now you see me</span>
</div>

<div id="app-4">
  <ul>
  <li v-for="item in list">
    {{item}} 
    <button v-on:click="deleteItem(item)">-</button> 
  </li>

  <li v-if="newItem">{{ newItem }}</li>
  </ul>

  <input v-model="newItem">

  <button v-on:click="addNew()">Add</button>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

